.RegisterButton {

  background-color: #CF0931;
  color: white;

  width: auto;
  max-width: 100px;

  border-radius: 60px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

}

.RegisterButton:hover {
  background-color: #a20524;
}

.LoginButton {

  background: none;
  border: none;
  color: #5B5858;

  width: auto;
  max-width: 70px;

  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;

}

.LoginButton:hover {
  color: #a20524;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-items: left;
}
