/* LoginPage.module.css or LoginPage.css */

.LoginPage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Black with 30% opacity */
    backdrop-filter: blur(4px); /* Adjust the blur value as needed */

    display: grid;
    justify-content: center;
    align-items: center; 

}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: white;
    padding: 5px;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
}